<div class="main-header">
	<header>
		<a href="/">
			<h1>Mi portafolio</h1>
		</a>
	</header>
	<nav style="display: flex; gap:.5rem">
		<a href="/about">Acerca de</a>
		<a href="/quienes-somos">¿Quiénes somos?</a>
	</nav>
</div>
<style>
	.main-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
</style>